rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /draw-stock/{stock} {
      allow write
    }
    match /grapher_figure/{documentID} {
      allow write, read, create, delete
    }
    match /{document=**} {
      allow read, write: if false;
    }
    
  }
}